[Desktop Entry]
Name=yerith-erp-9.0-client
Exec=/opt/yerith-erp-9.0-client/bin/yerith-erp-9.0-client.sh
Icon=yerith-erp-9-0
Terminal=false
Type=Application
StartupNotify=true
Hidden=false
Categories=Utility;
