[Desktop Entry]
Name=yerith-erp-9-0-standalone-ENGLISH
Exec=/opt/yerith-erp-9-0-standalone-ENGLISH/bin/yerith-erp-9-0-standalone-ENGLISH.sh
Icon=yerith-erp-9-0
Terminal=false
Type=Application
StartupNotify=true
Hidden=false
Categories=Utility;
