[Desktop Entry]
Name=yerith-erp-9-0-server
Exec=/opt/yerith-erp-9-0-server/bin/yerith-erp-9-0-server.sh
Icon=yerith-erp-9-0
Terminal=false
Type=Application
StartupNotify=true
Hidden=false
Categories=Utility;
