[Desktop Entry]
Name=yerith-erp-9.0-academic
Exec=/opt/yerith-erp-9.0-academic/bin/yerith-erp-9.0-academic.sh
Icon=yerith-erp-9-0
Terminal=false
Type=Application
StartupNotify=true
Hidden=false
Categories=Utility;
