[Desktop Entry]
Name=yerith-pgi-9.0-standalone
Exec=/opt/yerith-erp-9-0-standalone/bin/yerith-erp-9-0-standalone.sh
Icon=yerith-pgi-9-0
Terminal=false
Type=Application
StartupNotify=true
Hidden=false
Categories=Utility;
